@CHARSET "UTF-8";
body{
	background:url(../images/windowback.jpg);
	font-style: normal;
    font-weight: normal;
    font-size: 16px;
    font-family : \5FAE\8F6F\96C5\9ED1;
}

pre{
	font-family : \5FAE\8F6F\96C5\9ED1;
}

#topLink{
	text-align: right;
	margin-right:100px;
}

#fixed_table{
	table-layout:fixed ; 
	width:700px;
	word-wrap: break-word;
}

#left_img{
	float:left;
	width:300px;
	margin-left:50px;
}

#right_form{
	margin-top:60px;
	margin-left:450px;
	width:800px;
}

#bottom_word{
	margin-top:50px;
	margin-left:50px;
}

#topLink a{
	margin-right:10px
}

.clearFloat{clear:both} 

textarea{
	overflow:visible;
}

p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:10;
	white-space:pre-line;
	text-indent:2em;
	line-height: 2	
}

#signature{
	margin-left:350px;
	margin-top:15px;
}

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

input[type="text"],input[type="password"] {
 font-family:'Verdana';
 width:370px;
 height:24px;
}

.ok{
    background: url(/images/ok.gif) top left no-repeat;
    text-align:left;
    padding: 3px 5px 2px 25px;
    height: 16px;
    display: inline-block;
}

ul{
	list-style:none;
	text-align:left;
}

ul li{
	float:left;
	margin:10px 10px;
}

 #submitButton{
  width: 180px; 
  height: 30px;
  cursor:pointer;
 }
 